#envelope-subscribe {

  margin-top: 30%;
  text-align: center;

  h3 {
    color: white;
  }
  img {
    width: 50%;
    margin-top: 25px;
  }

}

#envelope-subscribe-container {
  background: transparent;
}