<table>
  <tbody>
  <tr>
    <td>车辆损失险</td>
    <td class="balanced">投保</td>
    <td>第三者责任险</td>
    <td class="balanced">100万</td>
  </tr>
  <tr>
    <td>全车盗抢险</td>
    <td class="balanced">投保</td>
    <td>乘客座位险</td>
    <td class="balanced">5万</td>
  </tr>
  <tr>
    <td>司机座位险</td>
    <td class="balanced">5万</td>
    <td>划痕险</td>
    <td class="assertive">不投保</td>
  </tr>
  <tr>
    <td>玻璃破损险</td>
    <td>国产玻璃</td>
    <td>涉水险</td>
    <td class="assertive">不投保</td>
  </tr>
  <tr>
    <td>自燃险</td>
    <td class="assertive">不投保</td>
    <td>不计免赔</td>
    <td class="balanced">投保</td>
  </tr>
  </tbody>
</table>