#user-home-checkin {

  > img {
    width: 80%;
    max-width: 350px;
    margin-bottom: 50px;
  }

  > .button {
    padding: 8px 45px;
    font-size: 14pt;
    letter-spacing: 5px;
  }

}

#user-home-checkin-container {
  @include lcb-center-all();
  background-color: white;
}