#user-car {
  .ion-chevron-right {
    font-size: 12pt;
  }
  .item-icon-right {
    padding-right: 34px;
    .icon {
      right: 4px;
    }
  }
  .item-note {
    text-align: right;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}