#user-car-edit {

  @include lcb-placeholder();
  @include lcb-input-align();

  .ion-chevron-right {
    font-size: 12pt;
  }
  .item-icon-right {
    padding-right: 49px;
    .icon {
      right: 4px;
    }
  }

  a {
    color: #444;
  }

}