<ion-view view-title="设备激活">
  <ion-content>

    <form id="user-bind-device" name="deviceForm" novalidate>

      <step-indicator step-index="1"></step-indicator>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">IMEI：</span>
          <input ng-model="ctrl.device.imei" type="text" maxlength="20" placeholder="请输入IMEI" required>
        </label>
        <label class="item item-input">
          <span class="input-label">CODE：</span>
          <input ng-model="ctrl.device.code" type="number" maxlength="6" placeholder="请输入CODE" required>
        </label>
      </div>

      <div class="padding">
        <button type="button" class="button button-block button-balanced" ng-disabled="deviceForm.$invalid" ng-click="ctrl.bindDevice()">下一步</button>
      </div>

    </form>

  </ion-content>
</ion-view>