<ion-view view-title="完善资料">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content>

    <form name="registerForm" id="oauth-rvm" class="list padding-vertical" novalidate>

      <label class="item item-input">
        <span class="input-label">手机号</span>
        <input name="mobile" ng-model="ctrl.user.mobile" type="tel" placeholder="请输入注册手机" required lcb-validator="mobile" ng-disabled="!ctrl.isEmpty(ctrl.$location.search().mobile)">
      </label>
      <div class="item item-divider lcb-item-error text-center" ng-show="registerForm.mobile.$dirty && registerForm.mobile.$invalid">请输入正确的手机号</div>
      <div class="item item-input lcb-input-button-right">
        <label for="code" class="input-label">验证码</label>
        <input name="code" id="code" ng-model="ctrl.user.code" maxlength="6" type="number" placeholder="请输入验证码" required lcb-validator="verifyCode">
        <div class="lcb-border-left">
          <button type="button" class="button button-clear button-balanced" ng-disabled="registerForm.mobile.$invalid" ng-click="ctrl.sendCode()" count-down>获取验证码</button>
        </div>
      </div>
      <label class="item item-input">
        <span class="input-label">车牌号</span>
        <input name="licenseNumber" ng-model="ctrl.user.license_no" type="text" placeholder="请输入车牌号，如：沪A98981" required lcb-validator="licenseNumber" ng-disabled="!ctrl.isEmpty(ctrl.$location.search().license_no)">
      </label>
      <div class="item item-divider lcb-item-error text-right" ng-show="ctrl.registerForm.licenseNumber.$dirty && ctrl.registerForm.licenseNumber.$invalid">请输入正确格式的车牌号，如：沪A98981</div>

      <div id="actions" class="padding">
        <button type="button" class="button button-block button-balanced" ng-disabled="registerForm.$invalid" ng-click="ctrl.register()">确定</button>
      </div>

    </form>

  </ion-content>
</ion-view>