#dvr-earning {

  #earning {
    border-radius: 5px;
    margin: 10px;
    .item-header {
      color: white;
      padding: 15px;
      background-color: #529BFC;
      > span {
        color: #F6F26B;
        > span {
          margin-right: 2px;
          font-size: 15pt;
        }
      }
    }
    .item-body {
      line-height: 30px;
    }
  }

  #trend {

    border-radius: 5px;
    background-color: #6FB6FC;

    > div:first-child {
      color: white;
      font-size: 12pt;
      padding-bottom: 10px;
      margin: 0 5px;
      border-bottom: 1px solid white;
    }

    > div:last-child {
      padding-bottom: 0;
    }

  }

}