#dvr-mall {

  > img {
    margin-bottom: -3px;
  }

  .lcb-items {
    > div {
      a {
        text-decoration: none;
        color: black;
      }
      background-color: white;
      margin: 3px;
      padding-bottom: 25px;
      font-size: 18px;
      img {
        width: 70%;
      }
    }
  }

}
