#mall-success {

  img {
    width: 120px;
    margin-bottom: 20px;
  }

  h4 {
    color: #c4c4c4;
    line-height: 30px;
  }

}

#mall-success-container {
  @include lcb-center-all(70%);
  background-color: white;
}