#insurance-delay-container {
  background-color: #fb5f2c;
  //.bar-footer {
  //  background-color: #fb5f2c;
  //}
}

#insurance-delay {

  #intro {
    margin-top: -30px;
    .lcb-title {
      color: #feeca0;
    }
    .lcb-ol {
      color: #fdd48d;
      font-size: 12pt;
      line-height: 20pt;
    }
  }

}
