#insurance-green-regiser-container {

  .bar-footer {
    background-color: transparent;
    background-image: none;
    font-size: 0.8em;
    text-align: center;
    padding: 0 15px;
    > div {
      margin: 0 auto;
    }
  }

}