#user-kld {

  .icon {
    padding-right: 25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .input-label {
    font-size: 0.9em;
  }
  
  .button {
    padding: 0 35px;
  }
  
}