#user-wlt {
 
  #points {
    h1 {
      color: $balanced;
      font-size: 3.5em;
      margin-bottom: 0;
      margin-top: 15px;
    }
    color: $balanced;
    padding: 20px;
  }
  
  #actions {
    button {
      border-radius: 25px;
      background-color: white;
      padding: 0px 45px;
    }
  }
  
  #title {
    width: 80%;
    margin: 0 auto;
    border-bottom: $lcb-border;
    margin-bottom: 25px;
    > span {
      position: relative;
      top: 10px;
      padding: 0 25px;
      background-color: $base-background-color;
    }
  }
  
}