#user-grade-test {

  #actions {
    background-color: #353550;
    margin-top: -10px;
    padding: 20px;
    button {
      padding: 0 30px;
    }
    a {
      color: #7fcfee;
      display: block;
      margin-top: 20px;
      font-size: 12pt;
      text-decoration: none;
    }
  }

}