<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <base href="/" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="dist/ionic.css">
    <link rel="stylesheet" href="dist/font-awesome.css">
    <link rel="stylesheet" href="page.css">
    <!-- build:css(.) styles/vendor.css -->
    <!-- endbuild -->
    <link rel="stylesheet" href="dist/all.css">
  </head>
  <body>

  <%- include(pageUrl) %>

  </body>
</html>
