<form name="registerForm" novalidate class="lcb-register">
  <label class="item item-input">
    <span class="input-label"><i class="icon lcb-icon-phone2-own"></i></span>
    <input name="mobile" ng-model="ctrl.registry.mobile" type="tel" placeholder="请输入报名手机" required lcb-validator="mobile" ng-readonly="ctrl.mobileReadonly">
  </label>
  <div class="item item-divider lcb-item-error text-center" ng-show="registerForm.mobile.$dirty && registerForm.mobile.$invalid">请输入正确的手机号</div>
  <div class="item item-input lcb-input-button-right" ng-if="ctrl.isEmpty(ctrl.loggedInUser)">
    <label for="code" class="input-label"><i class="icon lcb-icon-code-own"></i></label>
    <input name="code" id="code" ng-model="ctrl.registry.code" maxlength="6" type="number" placeholder="请输入验证码" required lcb-validator="verifyCode">
    <div class="lcb-border-left">
      <button type="button" class="button button-clear button-balanced" ng-disabled="registerForm.mobile.$invalid" ng-click="ctrl.sendCode()" count-down>获取验证码</button>
    </div>
  </div>
  <label class="item item-input">
    <span class="input-label"><i class="icon lcb-icon-plate-own"></i></span>
    <input name="licenseNumber" ng-model="ctrl.registry.license_no" type="text" maxlength="20" placeholder="请输入车牌号" required lcb-validator="licenseNumber">
  </label>
  <div class="item item-divider lcb-item-error text-right" ng-show="registerForm.licenseNumber.$dirty && registerForm.licenseNumber.$invalid">请输入正确格式的车牌号，如：沪A98981</div>
  <ng-transclude></ng-transclude>
  <div class="padding lcb-register-actions">
    <button type="button" class="button button-block" ng-class="ctrl.getButtonClass()" ng-disabled="registerForm.$invalid" ng-click="ctrl.register()">确认</button>
  </div>
</form>