<div class="list padding-vertical lcb-edit-password">
  <label class="item item-input">
    <span class="input-label">旧密码</span>
    <input name="password" ng-model="ctrl.password.old_password" maxlength="20" type="password" placeholder="请输入旧密码" required>
  </label>
  <label class="item item-input">
    <span class="input-label">新密码</span>
    <input name="newPassword" ng-model="ctrl.password.new_password" maxlength="20" type="password" placeholder="请输入新密码" required lcb-validator="password">
  </label>
  <div class="item item-divider lcb-item-error text-center" ng-show="editForm.newPassword.$dirty && editForm.newPassword.$invalid">请输入格式正确的密码</div>
  <label class="item item-input">
    <span class="input-label">重复新密码</span>
    <input name="repeatPassword" ng-model="repeatPassword" type="password" placeholder="请再次输入密码" required ui-validate="'$value == ctrl.password.new_password'">
  </label>
  <span class="item item-divider lcb-item-error" ng-show="editForm.newPassword.$valid && editForm.repeatPassword.$error.validator">
    密码两次输入不一致，请重新输入
  </span>
</div>

<div class="padding text-center">
  <span class="lcb-font-note">密码只能使用字母和数字，长度为6-20位，字母区分大小写</span>
</div>