#hunt2-intro {


  #intro {
    background-color: #54505F;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    .lcb-title {
      margin: 0 auto;
      width: 50%;
      text-align: center;
      font-size: 14pt;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
    .lcb-ol {
      font-size: 12pt;
      line-height: 25px;
    }
  }

}