.lcb-grade-indicator {

  .lcb-grade {
    position: relative;
    top: -10px;
    > .lcb-grade-30 {
      float: left;
      position: absolute;
      left: 20%;
    }
    > .lcb-grade-90 {
      float: right;
      position: absolute;
      right: 20%;
    }
  }

}