#login {
  
  #forget {
    float: right;
    margin: 10px;
    font-size: 1em;
  }

  #signup {
    float: left;
    margin: 10px;
    font-size: 1em;
  }

  .input-label {
    width: 25%;
  }

  .bar-footer > div {
    margin: 0 auto;
  }
  
}
