<div class="lcb-step-indicator">
  <div class="row text-center lcb-smaller-font">
    <div class="col lcb-step1">
      <div id="connect1"></div>
      <div class="bind-circle-text">
        <div>1</div>
      </div>
      <div class="padding-top">激活设备</div>
    </div>
    <div class="col lcb-step2">
      <div id="connect2"></div>
      <div class="bind-circle-text">
        <div>2</div>
      </div>
      <div class="padding-top">选择车型</div>
    </div>
    <div class="col lcb-step3">
      <div class="bind-circle-text">
        <div>3</div>
      </div>
      <div class="padding-top">插入设备</div>
    </div>
  </div>
</div>